*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    width: 100%;
}
.row{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-basis: 45%;
}
.slider{
    height: 80vh;
    display: flex;
}
.product img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}
.product img:hover{
    opacity: 1;
}
.preview img{
    height: 60%;
}
p{
    margin-bottom: 20px ;
}
.brand{
    background: #40C9A2;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px ;
}
h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}
.price{
    color: #40C9A2;
    font-size: 26px;
    font-weight: bold;
    padding-top: 0px;
}
p{
    color: rgb(41, 41, 41);
}
#quantity{
    width: 50px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    background: #40C9A2;
    border-radius: 8px;
    background: #40C9A2;
    padding: 5px 10px;
}

button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 8px;
    background: #40C9A2;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button:hover{
    background: #19a77e;
}
button .fa{
    margin-right: 10px;
}
h3{
    color: rgb(58, 57, 57);
    font-size: 20px;
}

/*header*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
 

 nav{
     background: #e8f3f0;
     height: 80px;
     width: 100%;
 }

 label.logo{
     color: #2bb18b;
     font-size: 35px;
     line-height: 80px;
     padding: 0 100px;
     font-weight: bold;
 }

 nav ul{
     float: right;
     margin-right: 20px;
 }

 nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 5px;
 }

 nav ul li a{
     color: #2bb18b;
     font-size: 17px;
     padding: 7px 13px;
     border-radius: 3px;
     text-transform: uppercase;
 }
 #search{
    background: transparent;
    border: none;
    border-bottom: 1px solid #2bb18b;
    border-radius: 1px 1px;
    box-shadow: none;
    outline: none;
    height: 30px
 }
 a.active,a:hover{
     background: #e8f3f0;
     transition: .5s;
 }
 /*end header*/